Telethon==1.16.4
future
emoji
beautifulsoup4
requests
sqlalchemy
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
jikanpy
speedtest-cli
coffeehouse
tswift
gTTS
wikipedia
pyowm
tabulate
parsel
pylast
python-telegram-bot==12.8
ffmpeg
pySmartDL
youtube-search-python
psycopg2-binary
pythonping
pybase64
html2text
spotdl
validators
pickledb
redis
pytz
pafy
bs4
lxml
demjson
wget
bs4
telegraph
pillow
speedtest-cli>=2.0.2
hachoir
googletrans
youtube-dl
spamwatch
bleach
git+https://github.com/p-rinc-e/python-markdown2.git
alphabet_detector
covid
hurry.filesize
fontTools
bing_image_downloader
instantmusic
